@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
$blue: #45567D;


body { 
  background-image: url("background.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
}


main {
  text-align: center;
  margin: 50px auto;
  font-family: 'Irish Grover', cursive;
}

.add-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  color: #FFF;
  background-color: $blue;
  box-shadow: 0 8px lighten($blue, 10%);
  &::-moz-focus-inner  {border: 0; }
  &:hover { background-color: darken($blue, 10%); }
  &:active {
    background-color: darken($blue, 15%);
    box-shadow: 0 4px darken($blue, 5%);
    transform: translateY(4px);
    outline: 0;
  }
}

.pile {
  vertical-align: top;
  width: 160px;
  height: 500px;
  display: inline-block;
  border : 1px solid #45567D;
  border-radius: 10px;
}

.container {
  margin: 0 auto;
  display: inline-block;
  width: 175px;
  margin-bottom: 25px;
}

.brick {
  width: 160px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}